<div class="container">
    Color Component

    <!-- <div [style.background-color]="color" [style.color]="fcolor" >
        <input type="radio" name="co" id="" (click)="colourBlue()">Blue
        <input type="radio" name="co" id="" (click)="colorWhite()">White
        
      </div>
      <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="toggleSwitch" (click)="colourBlue()">
            <span class="slider round"></span>
        </label>
    </div>  -->
     <input type="text" (keydown)="keyCapture($event)">
    <h2>From Parent {{title}}</h2>
    <h2>for After Content </h2>
    <h2><button (click)="sendMessage()">Send</button></h2>

</div>
