<div class="page" style="background-color:darkgray; height: 100vh; width: 100vw; display: grid;
    justify-content: center;align-items: center;">
    <div class="container" style="height: 70vh; width: 35vw;">
      <div class="">
        <h2 class=""  style="text-align: center;">Sign Up</h2>
        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" required [(ngModel)]="name" name="name" #nameInput="ngModel">
            <!-- <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
              <div *ngIf="nameInput.errors?.required">Name is required.</div>
            </div> -->
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" class="form-control" required [(ngModel)]="email" name="email" #emailInput="ngModel">
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
              <!-- <div *ngIf="emailInput.errors?.required">Email is required.</div>
              <div *ngIf="emailInput.errors?.email">Enter a valid email.</div> -->
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" required [(ngModel)]="password" name="password" #passwordInput="ngModel">
            <!-- <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
              <div *ngIf="passwordInput.errors?.required">Password is required.</div>
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  
