<span><h2>App is Running</h2></span>

<div class="container">
  <h4>Parent Component</h4>

  <p>
    To send whatever is entered in the text field to child component <br>
    Enter the Name:
    <input type="text" class="form-control" [(ngModel)]="EnterName">
    Enter the Age:
    <input type="text" class="form-control" [(ngModel)]="EnterAge">
    Enter the Marital Status:
    <input type="text" class="form-control" [(ngModel)]="EnterStatus">

    <input type="button" value="send" (click)="transferData()" class="btn btn-primary">
  </p>

</div>

<div>
  <app-home [parentData1]="parentData1"
            [parentData2]="parentData2"
            [parentData3]="parentData3"
  ></app-home>

  <h4>Received from child {{value}}</h4>
  <app-about (sendData)="sendData($event)"></app-about>
</div>